.otp-input{
    height:64px;
    border-radius:16px;
    
}

.otp-input:focus{
    background-color: #d9d9d9;
    box-shadow:none;
    border: none;
}

@media (max-width: 490px)
{
      .otp-input {
        height: 55px;
      
    }

}