
.text-secondary2
{
    color: #64748B;
}
.par
{
    line-height: 80%;
}
.inp
{
    outline: 0px;
}
.orange
{
    color: #ED7B39;
}
.continue-text
{
    color: #475467;
}
.gray-700
{
   color:  #505F6D
}
.grey-800
{
    color: #264653;
}
.w-80
{
    width: 80%;
}
